video{
    border: none;
    position:absolute;
    top: 0;
    left: 0;
}

canvas{
    /* border: 1px solid black; */
    display: block;
    border: none;
}

body{
    margin: 0;
    background-color: purple;
    border:none;
}